<header class="flex justify-between items- py-5 w-full xl:w-[1120px] mx-auto">
  <img 
    class="rounded-full w-12 h-12"
    src="https://media.licdn.com/dms/image/v2/D4E03AQFVurCnjzO6hg/profile-displayphoto-crop_800_800/B4EZukN_.hIkAI-/0/1767986693473?e=1770249600&v=beta&t=km_6Hd6vH9FCvT4C4D3szFKPZRrkbaTMxh0jN6RmvrY"
    alt="diego photo"
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
  </nav>

</header>